* Add your CSS styles here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

header {
    background-color:aliceblue;
    color: #000000;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav li {
    display: inline;
    margin-right: 20px;
    font-size:larger;
    font-weight: bold;
}

section {
    margin: 20px;
}

.hero {
    background-image: url('hospital-image.jpg');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: #170000;
}

.services {
    font-size: 18px;
}

.about, .contact {
    
    text-align: left;
}

form {
    background-color: rgb(145, 197, 243);
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    width: 400px;
    position: relative;
    left: 30%;
    height: 300px;
    margin:5px;
}
input{
    width:300px;
    padding: 5px;
    margin: 10px;
    align-items: center;
}
textarea{
    width:300px;
    padding: 5px;
    margin: 10px;
    align-items: center;
}
select{
    width:300px;
    padding: 5px;
    margin: 10px;
    align-items: center;
}
button{
    width:300px;
    padding: 5px;
    margin: 10px;
    left: 20%;
    margin-left: 1.5cm;
}
button:hover{
    background-color: green;
}

footer {
    background-color: #000000;
    color: #cbc2c2;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 10px;
 
}
nav{
    border-width: 1px;
    border-style: solid;
    border-radius: 10%;
    border-color:black;
    background-color:rgb(145, 197, 243);
    height: 40px;
    top:0px;
    padding-bottom: 10px;
    padding-left: 10px;

}
img{
    opacity:0.7;
    height: 800px;
    width:2000px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 400%;
    font-weight: bold;
  }