<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Hospital Management</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body style="background-color:aliceblue">
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/appointments">Appointments</a></li>
            </ul>
        </nav>
    </header>

    <section class="contact">
        <h1>Contact Us</h1>
        <p>If you have any questions or need assistance, please don't hesitate to contact us.</p>
        
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </br>
            <label for="email">Email:  </label>
            <input type="email" id="email" name="email" required>
        </br>
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="8" cols="20"></textarea>
        </br>
            <button type="submit">Submit</button>
        </form>
    </section>

    <!-- Add more contact information as needed -->

    <footer>
        <p>&copy; 2023 Hospital Management</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>